@charset "UTF-8";
/**
 * 
 * @authors limeizhang (zhanglimeibupt@163.com)
 * @date    2015-07-04 12:17:45
 * @version $Id$
 */
/*reset*/
html{font-size: 16px;height:100%;width:100%;}
body {height:100%;margin:0; padding:0; background:#f1f1f1; font-family: "Microsoft YaHei","宋体","Arial Narrow";color:#333;}
div, form, input, select, ul, ol, li, p, h1, h2, h3, h4, h5, h6, p, dd, dt, dl { margin:0; padding:0; }
ul, ol, li { list-style:none; }
img{ border:none; }
a{text-decoration: none;color:#333;}
/*global*/
/*.header{
	position:relative;
	text-align: center;
	padding:15px 0;
	background:#fff;
	color: #d9534f;
	font-size: 1.25rem;
	box-shadow: 0 2px 10px #ccc;
}
.header i{
	background: url(../images/arrow.jpg) no-repeat;
	width: 25px;
	display: block;
	height: 100%;
	background-size: contain;
	position: absolute;
	left: 16px;
	top: 10px;
}*/
.layout{
	width:90%;
	margin:20px auto;
}
.layer{
	width:100%;
	height:100%;
	background:#000;
	opacity: 0.6;
	z-index: 2;
	position:fixed;
	display:none;
	top: 0;
	left: 0;
}
.red_font{
	color:#d9534f;
	margin:0 5px;
}
/*sort*/
.pro{
	padding:0;
	margin: 0;
	height:100%;
	width:100%;
}
.pro li{
	margin: 0;
    height: 33%;
    padding: 0 30px;
    border-bottom: 2px solid #fff;
}
.pro li a {
	margin: 40px 0 10px 0;
    display: inline-block;
    font-size: 1.8rem;
    color:#fff;
    margin-top: 20%;
}
.pro li div{
    color: #eee;
}
.pro li i{
	background: url(../images/arrow-left.png) no-repeat;
    width: 30px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    background-size: 40px;
    margin: 0 10px;
}
/*consultant*/
.choose_btn{
	margin: 20px auto;
	text-align: center;
	color:#fff;
	background:#4489DA;
	padding:15px 0;
	border:1px solid #3179CE;
	border-radius: 4px;
	display: block;
}
.choose_min_btn{
	margin-top: 20px;
	text-align: center;
	color:#fff;
	background:#4489DA;
	padding:10px 0;
	border:1px solid #3179CE;
	border-radius: 2px;
	display: block;
}
.consultants li{
	margin:30px 0;
}
.consultants li.items{
	overflow: hidden;
    margin-bottom: 0;
    min-height: 100px;
    /*border-bottom: 1px dashed #1D71D5;*/
    padding-bottom: 20px;
    box-sizing: content-box;
}
.consultants a img{
	width:100px;
	height:100px;
	float: left;
}
.consultants a .info{
	padding-left: 114px;
	/*font-size: 0.85rem;*/
	min-height:100px;
}
.consultants a .name{
	font-size: 1.4rem;
    font-weight: bold;
    height: 50px;
    line-height: 40px;
}
.consultants a .name span{
	font-size: 1rem;
    font-weight: normal;
    margin-left: 20px;
    line-height: 40px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    color: #3A82D7;
}
.consultants a .name span img{
	width: 24px;
    height: 24px;
    float: none;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}
.consultants a .nameall{
	height:20px;line-height:20px;font-size:1em;margin-bottom:10px;
}
.consultants a .desc{
	min-height:49px;
	overflow:hidden;
	color:#777;
	font-size: 15px;
}
.consultants a .sig{
	margin-top: 10px;
    color: #777;
    font-size: 15px;
    line-height: 24px;
    padding: 5px 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    max-height: 48px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.consultants a .descall{
	min-height:72px;line-height:24px;
}
.choose_dialog{
	position: fixed;
    width: 280px;
    min-height: 50px;
    top: 20%;
    left: 50%;
    margin-left: -140px;
    z-index: 999;
    background: rgba(255,255,255,0.9);
    display: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;
    line-height: 1.5rem;
    border: 1px solid #aaa;
}
.choose_dialog label{
	display:inline-block;
	margin-right: 0.5rem;
	min-width: 60px;
	line-height: 2em;
}
.choose_dialog .condi{
	margin: 15px 0;
    border-left: 4px solid #ccc;
    padding-left: 1rem;
}
.choose_close{
	position: absolute;
    top: 13px;
    right: 13px;
    background: url(../images/close.png;);
    width: 24px;
    height: 24px;
    background-size: 24px;
    display: block;
}
.choose_dialog input[type="radio"] {
    margin-right: 10px;
}
/*detail*/
.sub{
	color: #196FD4;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}
.sub:after{
	content:"";
	display:block;
	width:25%;
	height:4px;
	margin-top: 8px;
	background:#999;
}
.consultants .moreinfo{
	line-height: 1.8em;
	color:#666;
}
/*online*/
.contentform{
	width:100%;
	font-size: 1rem;
	height:13rem;
	line-height: 1.5rem;
	resize:none;
	box-sizing:border-box;
	padding: 0.5rem 1rem;
	border: 1px solid #ccc;
  	box-shadow: 0 2px 10px #ccc;
}
/*offline*/
.dinfo{
	border: 1px solid #ddd;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	line-height: 1.5rem;
	margin: 20px 0;
	background: #FFFAFA;
	box-shadow: 0 4px 10px #ccc;
}
/*record*/
.half{
	width:50%;
	display:inline-block;
}
.record{
	position:relative;
	line-height: 1.5rem;
	margin: 20px 0;
	border: 1px solid #ddd;
	padding: 1rem;
	box-sizing: border-box;
	background-color: whitesmoke;
	box-shadow: 0 2px 6px #ccc;
	color: #666;
	padding-left: 2rem;
	box-sizing: border-box;
}
/*message*/
.ms_record i{
	/*position:absolute;
	background:rgb(236, 33, 33);
	width:10px;
	height:10px;
    top:50%;
    left:4%;
    transform: translateY(-50%);
    border-radius: 50%;*/
    display:none;
}
.new_ms{
	position:relative;
	background:rgb(255, 255, 200);
}
/*.ms_record .new_ms i{
	display:block;
}*/
.ms_status{
	position:absolute;
    top:50%;
    right:4%;
    transform: translateY(-50%);
    border-radius: 50%;
    color:#999;
}
.unend .ms_status{
	color:#333;
}
/*messagedetail*/
.ms_detail{
	overflow: hidden;
 	padding-bottom: 80px;
}
.ms_my,.ms_rp{
	width:85%;
	margin:5px 0;
}
.ms_rp{
	float:left;
}
.ms_my{
	float:right;
}
.ms_name{
	color:#999;
	font-size: 0.85rem;
	margin-bottom: 5px;
}
.ms_content{
	box-shadow: 0 2px 4px #ddd;
	border: 1px solid #e9e9e9;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	line-height: 1.5rem;
	display:inline-block;
}
.ms_my .ms_name{
	float:right;
}
.ms_my .ms_content{
	background-color:#349DF1;
	color:#fff;
	float:right;
	clear: both;
}
.ms_rp .ms_content{
	background-color: #fff;
	clear:both;
}
.ms_send{
	position:fixed;
	bottom:0;
	background-color: #eee;
	border: 1px solid #ddd;
	width: 100%;
	left: 0;
	padding: 0.4rem 0.8rem;
	box-sizing: border-box;
	text-align: center;
	color:#999;
}
.ms_send_content{
	border:1px solid #ddd;
	border-radius: 0.5rem;
	line-height: 2rem;
	box-sizing:border-box;
	padding: 0 0.5rem;
	width: 84%;
	font-size: 1rem;
}
.ms_send_btn{
	width: 15%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: #666;
}
/*bind phone*/
.warntips{
	text-align: center;
	padding:20px 0;
}
.warntips i{
	background: url(../images/info.png);
	display:inline-block;
	width:16px;
	height:16px;
	background-size: contain;
	margin-right: 10px;
}
.bind_input,.bind_btn{
	border-bottom: 1px solid #ccc;
	width:90%;
	margin:40px auto;
	position:relative;
}
.bind_input input{
	border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 50px;
    padding-left: 10px;
    color: #666;
}
.bind_btn{
	border:none;
}
.bind_btn a{
	display: block;
    background-color: #1D96DE;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border: 1px solid #078FE0;
}
.bind_input span{
	font-size: 14px;
    display: inline-block;
    padding: 8px 10px;
    position: absolute;
    right: 0;
    bottom: 4px;
    border: 1px solid #ccc;
    background-color: #FBFBFB;
    color: #999;
}
.none_tips{
	position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    /*background: url(../images/tips.png);*/
    /*padding-left: 24px;*/
    line-height: 24px;
}