@charset "UTF-8";
/**
 * 
 * @authors limeizhang (zhanglimeibupt@163.com)
 * @date    2015-07-11 14:01:21
 * @version $Id$
 */
html {
	width:100%;
	height:100%;
}
body {
	margin:0;
	padding:0;
	background: #f8f8f8;
	;font-size:16px;
	font-family:sans-serif;
	font-weight: 300;
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #666;
}
img {
	max-width: 100%;
	height: auto;
}
.form_border {
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	vertical-align: middle;
	height: 2rem;
	line-height: 2rem;
	color: #555555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0 10px;
}
input[type="text"],input[type="password"] {
	width: 200px;
}
input[disabled="disabled"]{
	background:#eee;
}
textarea {
	width: 300px;
	height: 9em;
	line-height: 1.5em;
	vertical-align:text-top;
	resize: none;
	padding:10px;
	box-sizing:border-box;
}
.header {
	background: #fff;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
	margin: 0!important;
	padding: 0 30px;
	box-sizing: border-box;
}
.layout {
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
}
.wrap .layout {
	border-radius: 30px;
	overflow: hidden;
	position: relative;
}
fieldset {
	border:1px solid #ddd;
	padding:50px;
	padding-right: 0;
	box-sizing: border-box;
	margin:0 0 30px 0;
	background: #fcfcfc;
	position: relative;
}
fieldset div {
	margin:5px 0;
}
.step {
	color:#a94442;
	font-weight: bold;
	font-size: 1.5em;
}
.regist_tab{
	position: relative;
	height: 53px;
	margin: 0;
}
.regist_tab ul{
	overflow: hidden;
	padding: 15px 0;
	border: 1px solid #e5e5e5;
	background:#fff;
	margin-top: 60px;
}
.regist_tab li{
	float: left;
	display: block;
	width: 49%;
	height: 18px;
	overflow: hidden;
	margin-left: -1px;
	padding: 2px 0;
	border-left: 1px solid #e5e5e5;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	font-weight: bold;
	color: #777;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
}
.regist_tab li.cur{
	color:#444;
}
.regist_tab .cur_in,.regist_tab .cur_up {
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 50%;
	height: 3px;
	font-size: 0;
	background: #e53b3b;
}
.regist_tab .cur_in{
	left:50%;
}
.signin {
	float: right;
}
.signin li {
	display: inline-block;
	list-style: none;
	margin-left: 10px;
}
.signupcontent {
	width: 70%;
	line-height: 2.5em;
	float: left;
}
.signupcontent .tips,.sign_content .tips{
	color:#f00;
	font-size: 0.6rem;
	display:inline-block;
	margin-left: 10px;
}
.sign_title,.sign_content {
	display: inline-block;
}
.sms_code{
	width:90px!important;
}
.sms_btn{
	display: inline-block;
	width:106px;
	text-align: center;
	color: #666;
	background: #eee;
	font-size: 0.6rem;
	margin-left: 5px;
	border: 1px solid #ddd;
	cursor: pointer;
	line-height: 2rem;
}
.sign_content .radio_la{
	margin-right:20px;
}
.radio_la div{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#fff;
	border:1px solid #ccc;
	vertical-align: middle;
  	margin-right: 6px;
  	text-align: center;
  	position:relative;
}
.info .radio_la i{
	display:inline-block;
	width:6px;
	height:6px;
	background:#d1402f;
	border-radius: 50%;
	margin:0;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:none;
}
.sign_title {
	width: 120px;
	font-weight: bold;
	color: #666;
	text-align: right;
}
.fix-bottom {
	position:absolute;
	bottom:0;
	left:0;
}
.copyright {
	clear:both;
	text-align: center;
	width:100%;
	padding:30px 0;
	background:#fff;
	font-size: 0.85rem;
}
.btn {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	font-weight: bold;
	margin: 30px 0 30px 126px;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 5px;
	width: 120px;
	height: 3em;
	line-height: 3em;
}
.rightbar {
	padding-top:50px;
	width: 200px;
	position: absolute;
	right: 0;
	line-height:1.5em;
}
.redlink {
	color: #e53b3b;
	font-weight: bold;
	display: inline-block;
	margin: 0 5px;
}
.redstar {
	color: red;
	display: inline-block;
	margin: 0 2px;
	vertical-align: top;
}
/*info*/
.info {
	background:#bac3cf;
	padding: 25px 0;
}
.info .layout{
	background-color: #fff;
	overflow: hidden;
	padding:0;
	background:#282d45;
}
.info .uc-tips{
	font-size: 12px;
	line-height: 20px;
	color: #333;
	text-align: left;
	padding: 5px 10px;
	margin-bottom: 10px;
	background-color: #fff1c4;
	border: 1px solid #ffe793;
	margin-top: -10px;
	margin-right: 20px;
}
.uc-tips .bd {
  height: 20px;
  overflow: hidden;
  zoom: 1;
}
.uc-tips b {
  float: left;
  font-weight: bold;
}
.leftnav {
	float: left;
	padding-bottom: 50px;
	width: 178px;
	background: #282d45;
}
.leftitem {
	box-sizing:border-box;
	padding:20px 10px;
}
.leftitem li {
	padding-left: 10px;
	height: 48px;
	color: #fff;
	line-height: 48px;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
	list-style: none;
}
.leftitem li:hover,.leftitem li.cur {
	padding-left: 5px;
	border-left: 5px solid #d1402f;
	background: #1f233a;
}
.leftitem li a {
	color:#fff;
	text-decoration: none;
}
.info i {
	background:url(../images/aside.png);
	display:inline-block;
	width:28px;
	margin-right: 4px;
	vertical-align: baseline;
}
.info .detail i {
	background-position: 0 0;
}
.info .secure i {
	background-position: -60px 0;
}
.info .message i {
	background-position: -30px 0;
}
.maincontent {
	background: #fff;
	padding: 20px 0;
	margin-left: 190px;
	padding-left: 20px;
	box-sizing: border-box;
	line-height: 3.5em;
	min-height: 500px;
	position:relative;
}
.subtitle {
	color: #666;
	font-weight: bold;
	padding-top: 1em;
	margin-right: 1em;
	margin-bottom: 30px;
	border-bottom: 2px solid #d1402f;
	box-sizing: border-box;
}
.fdtips{
    width:300px;
    text-align: center;
    position:absolute;
    top:40%;
    left:50%;
    height:50px;
    line-height: 50px;
    margin-left: -150px;
    font-size: 0.85rem;
}
.successtip{
	background-color: #dff0d8;
    border-color: #B3DE8E;
    color: #468847;
}
.errortip{
	background-color: #f2dede;
    border-color: #EFB6BE;
    color: #b94a48;
}
/*message*/
.sms,.infomation{
	margin:0;
	padding:0;
}
.sms li ,.infomation li{
	display:block;
	border:none;
	height:2.5em;
	line-height: 2.5em;
	font-weight: normal;
	font-size: 14px;
	background: #1f233a;
	padding-left: 42px;
}
.sms li:hover,.sms li.active,.infomation li:hover,.infomation li.active{
	border:none;
	padding-left: 42px;
	color:#d1402f;
}
.message_box{
	line-height: 1.5em;
}
.message_item{
	position: relative;
	padding: 16px 12px;
	margin: 0 16px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cursor: pointer;
	border-color: #f2f2f5;
	font-size: 14px;
}
.message_item:hover{
	background:#f2f2f5;
}
.ms_header{
	overflow:hidden;
}
.ms_name{
	margin-top: 4px;
	max-width: 370px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	color: #333;
	text-decoration: none;
	float:left;
	font-weight: bold;
}
.ms_time{
	margin: 6px 16px 0 0;
	color: #808080;
	text-decoration: none;
	float:right;
}
.ms_content{
	position: relative;
	padding: 7px 36px 0 0;
	line-height: 22px;
	color: #808080;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.ms .maincontent{
	line-height: 1.5em;
}
.ms_new{
	min-width: 18px;
	_width: 18px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding: 2px 4px;
	background: #fa7d3c;
	color: #fff;
	border-radius: 3px;
	position: absolute;
	right: 70px;
	top: 10px;
}
.ms_ing{
	min-width: 18px;
	_width: 18px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding: 2px 4px;
	background: #79B00A;
	color: #fff;
	border-radius: 3px;
	position: absolute;
	right: 18px;
	top: 10px;
}
.ms_end{
	min-width: 18px;
	_width: 18px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	padding: 2px 4px;
	background: #aaa;
	color: #fff;
	border-radius: 3px;
	position: absolute;
	right: 18px;
	top: 10px;
}
.detail_box{
	width: 60%;
	margin: 0 auto;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	font-size: 12px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	border-radius: 2px;
	background: #fff;
	padding-bottom: 2px;
	line-height: 1.5em;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	/*兼容性问题，待检测*/
	z-index: 999;
	display:none;
}
.detail_box i{
	position: absolute;
	right: 10px;
	top: 7px;
	width: 24px;
	height: 24px;
	background:url(../images/close.png);
	cursor:pointer;
	z-index: 999;
}
.dialog_header{
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border:1px solid #d9d9d9;
	line-height: 38px;
	text-align: center;
}
.dialog_content{
	height: 360px;
	overflow: hidden;
	position: relative;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background:#F2F2F5;
}
.dialog_reply{
	border-top:1px solid #d9d9d9;
}
.reply_inner{
	width:92%;
	margin: 14px auto;
	overflow:hidden;
}
.reply_content{
	resize:none;
	display:block;
	width:100%;
	border-color: #d9d9d9;
	line-height: 1.5em;
	height:4.5em;
}
.send_btn{
	background: #f7671d;
	border: 1px solid #f06923;
	padding:4px 0;
	width: 60px;
	font-size: 14px;
	color: #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
	white-space: nowrap;
	border-radius: 2px;
	text-decoration: none;
	float:right;
	text-align: center;
	margin-top:4px;
	cursor:pointer;
}
/*咨询详情*/
.dialog_content ul{
	overflow:scroll;
	margin:0;
	padding:10px 20px;

}
.dialog_content li{
	list-style: none;
	display:inline-block;
	clear:both;
	max-width: 80%;
	line-height: 1.2rem;
	word-wrap: break-word;
 	word-break: break-all;
}
.dialog_content li div{
	border:1px solid #ddddee;
	border-radius: 3px;
	margin: 5px 0;
	padding:4px 8px;
}
.dialog_content li.user{
	text-align: left;
	float:left;
} 
.dialog_content li.user div{
	background:#fff;
}
.dialog_content li.me{
	text-align: right;
	float:right;
}
.dialog_content li.me div{
	background:#d7ebfe;
	border-color: #b7d4ef;
}
.dialog_content li span{
	display:block;
}
/*dialog tips*/
.layer{
	width:100%;
	height:100%;
	background:#000;
	opacity: 0.4;
	position:fixed;
	left:0;
	top:0;
	z-index: 10;
	display:none;
}
/*avatar*/
.file_upload,#upload_btn{
	display:inline-block;
	padding:0 20px;
	background:#EA837F;
	border:1px solid #ED9E9C;
	position:relative;
	overflow:hidden;
	text-align: center;
	height:2rem;
	line-height: 2rem;
	color:#fff;
	font-size: 0.85rem;
	cursor:pointer;
}
.file_upload input{
	position:absolute;
	right:0;
	top:0;
	font-size:100px;
	opacity:0;
	filter:alpha(opacity=0);
}
#upload_btn{
	display:none;
	margin-top: 30px;
}
.avatar_preview{
	width:150px;
	height:150px;
	margin:20px 0;
	border:1px solid #aaa;
	background-size: cover;
	background-repeat: no-repeat;
	display:none;
}
.mainup{
	position:relative;
}
.up_tips{
	position:absolute;
	right:20px;
	width:50%;
	margin:0;
	top:10px;
}
.up_tips li.uc-tips{
	list-style: none;
	margin-bottom: 30px;
}