@charset "UTF-8";
/**
 * 
 * @authors limeizhang (zhanglimeibupt@163.com)
 * @date    2015-07-11 14:01:21
 * @version $Id$
 */
html {
	width:100%;
	height:100%;
}
body {
	margin:0;
	padding:0;
	background: #f8f8f8;
	;font-size:16px;
	font-family:sans-serif;
	font-weight: 300;
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #666;
}
img {
	max-width: 100%;
	height: auto;
}
.form_border {
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	vertical-align: middle;
	height: 2rem;
	line-height: 2rem;
	color: #555555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0 10px;
}
input[type="text"],input[type="password"] {
	width: 200px;
}
input[disabled="disabled"]{
	background:#eee;
}
textarea {
	width: 300px;
	height: 9em;
	line-height: 1.5em;
	vertical-align:text-top;
	resize: none;
	padding:10px;
	box-sizing:border-box;
}
.header {
	background: #fff;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
	margin: 0!important;
	padding: 0 30px;
	box-sizing: border-box;
}
.layout {
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
}
.wrap .layout {
	border-radius: 30px;
	overflow: hidden;
	position: relative;
}
fieldset {
	border:1px solid #ddd;
	padding:50px 0;
	padding-right: 0;
	box-sizing: border-box;
	margin:0;
	background: #fcfcfc;
	position: relative;
	text-align: center;
}
fieldset div {
	margin:5px 0;
}
.step {
	color:#a94442;
	font-weight: bold;
	font-size: 1.5em;
}
.regist_tab,.regist_tab_admin{
	position: relative;
	height: 53px;
	margin: 0;
}
.regist_tab ul,.regist_tab_admin ul{
	overflow: hidden;
	padding: 15px 0;
	border: 1px solid #e5e5e5;
	background:#fff;
	margin-top: 60px;
}
.regist_tab li,.regist_tab_admin li{
	float: left;
	display: block;
	width: 50%;
	height: 18px;
	overflow: hidden;
	margin-left: -1px;
	padding: 2px 0;
	border-left: 1px solid #e5e5e5;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	font-weight: bold;
	color: #777;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
}
.regist_tab_admin li{
	width:100%;
}
.regist_tab li.cur,.regist_tab_admin li.cur{
	color:#444;
}
.regist_tab .cur_in,.regist_tab .cur_up,.regist_tab_admin .cur_all{
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 50%;
	height: 3px;
	font-size: 0;
	background: #e53b3b;
}
.regist_tab .cur_in{
	left:50%;
}
.regist_tab_admin .cur_all{
	width:100%;
}
.signin {
	float: right;
}
.signin li {
	display: inline-block;
	list-style: none;
	margin-left: 10px;
}
.signupcontent {
	width: 70%;
	line-height: 2.5em;
	/*float: left;*/
	margin:0 auto;
}
.signupcontent .tips,.sign_content .tips{
	color:#f00;
	font-size: 0.6rem;
	display:inline-block;
	margin-left: 10px;
}
.sign_title,.sign_content {
	display: inline-block;
}
.sms_code{
	width:90px!important;
}
.sms_btn{
	display: inline-block;
	width:106px;
	text-align: center;
	color: #666;
	background: #eee;
	font-size: 0.6rem;
	margin-left: 5px;
	border: 1px solid #ddd;
	cursor: pointer;
	line-height: 2rem;
}
.sign_content .radio_la{
	margin-right:20px;
}
.radio_la div{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#fff;
	border:1px solid #ccc;
	vertical-align: middle;
  	margin-right: 6px;
  	text-align: center;
  	position:relative;
}
.info .radio_la i{
	display:inline-block;
	width:6px;
	height:6px;
	background:#d1402f;
	border-radius: 50%;
	margin:0;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:none;
}
.sign_title {
	width: 110px;
	font-weight: bold;
	color: #666;
	text-align: right;
}
.fix-bottom {
	position:absolute;
	bottom:0;
	left:0;
}
.copyright {
	clear:both;
	text-align: center;
	width:100%;
	padding:30px 0;
	background:#fff;
	font-size: 0.85rem;
}
.btn {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	font-weight: bold;
	margin: 30px auto;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 5px;
	width: 120px;
	height: 3em;
	line-height: 3em;
}
.btn#modPwd{
	margin:30px 0 30px 116px;
}
/*info*/
.info {
	background:#bac3cf;
	padding: 25px 0;
}
.info .layout{
	background-color: #fff;
	overflow: hidden;
	padding:0;
	background:#282d45;
}
.info .uc-tips{
	font-size: 12px;
	line-height: 20px;
	color: #333;
	text-align: left;
	padding: 5px 10px;
	margin-bottom: 10px;
	background-color: #fff1c4;
	border: 1px solid #ffe793;
	margin-top: -10px;
	margin-right: 20px;
}
.uc-tips .bd {
  height: 20px;
  overflow: hidden;
  zoom: 1;
}
.uc-tips b {
  float: left;
  font-weight: bold;
}
.leftnav {
	float: left;
	padding-bottom: 50px;
	width: 178px;
	background: #282d45;
}
.leftitem {
	box-sizing:border-box;
	padding:20px 10px;
}
.leftitem li {
	padding-left: 10px;
	height: 48px;
	color: #fff;
	line-height: 48px;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
	list-style: none;
}
.leftitem li:hover,.leftitem li.cur {
	padding-left: 5px;
	border-left: 5px solid #d1402f;
	background: #1f233a;
}
.leftitem li a {
	color:#fff;
	text-decoration: none;
}
.info i {
	background:url(../images/aside.png);
	display:inline-block;
	width:28px;
	margin-right: 4px;
	vertical-align: baseline;
}
.info .detail i {
	background-position: 0 0;
}
.info .secure i {
	background-position: -60px 0;
}
.info .message i {
	background-position: -30px 0;
}
.maincontent {
	background: #fff;
	padding: 20px 0;
	margin-left: 190px;
	padding-left: 20px;
	box-sizing: border-box;
	line-height: 3.5em;
	min-height: 500px;
	position:relative;
}
.subtitle {
	color: #666;
	font-weight: bold;
	padding-top: 1em;
	margin-right: 1em;
	margin-bottom: 30px;
	border-bottom: 2px solid #d1402f;
	box-sizing: border-box;
}
/*message*/
.sms,.infomation{
	margin:0;
	padding:0;
}
.sms li ,.infomation li{
	display:block;
	border:none;
	height:2.5em;
	line-height: 2.5em;
	font-weight: normal;
	font-size: 14px;
	background: #1f233a;
	padding-left: 42px;
}
.sms li:hover,.sms li.active,.infomation li:hover,.infomation li.active{
	border:none;
	padding-left: 42px;
	color:#d1402f;
}
/*咨询师列表*/
.maincontent table{
	width:90%;
	font-size: 0.85rem;
}
.maincontent table,tr,th,td{
	border:1px solid #ccc;
	border-collapse: collapse;
	text-align: left;
	padding:0 10px;
	line-height: 2rem;
}
.maincontent td a{
	display:inline-block;
	margin-right: 10px;
	cursor:pointer;
}
#detailtable th{
	width:20%;
}